<h2>Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h2>

<a href="{% url 'doctors_list' %}">View doctors</a><br>
<a href="{% url 'book_visit' %}">Schedule a new visit</a><br>
<a href="{% url 'logout' %}">Logout</a>
<h2>Your planned visits</h2>

{% if visits %}
    <ul>
        {% for visit in visits %}
            <li>
                <strong>Date:</strong> {{ visit.date }}<br>
                <strong>Doctor ID:</strong> {{ visit.doctor.id }}, {{ visit.doctor.first_name }} {{ visit.doctor.last_name }}<br>
                <strong>Description:</strong> {{ visit.description }}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>You don't have planned visits.</p>
{% endif %}
